@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #111111;
}

#particles-js{
  display: flex;
	width: auto;
	height: auto;
  background-color: #111111;
	background: no-repeat center center /cover;
}

#container {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

#login-box{
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }

  #login-box h1{
    color: rgb(216, 216, 216);
    text-transform: uppercase;
    font-weight: 200;
    background-color: #191919;
  }

  #login-box input[type = "text"],
  #login-box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2d2d2d;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

  #login-box input[type = "text"]:focus,
  #login-box input[type = "password"]:focus{
    width: 280px;
    border-color: rgb(216, 216, 216);
  }

  #login-box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(216, 216, 216);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
  }

  #login-box input[type = "submit"]:hover{
    background: rgb(216, 216, 216);
  }

  #login-box input[type = "submit"]:hover {
      color: #111111;
  }

  #subtext {
    position: absolute;
    margin-top: 68vh;
    margin-left: 46vw;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    opacity: 0.3;
  }

  #main h1 {
    text-align: center;
    font-weight: 100;
    font-size: 42px;
    margin-top: 14vh;
    color: #FFF;
  }
  
  #form-layout {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% auto 20%;;
  }

  form {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    background: #191919;
  }

  form input[type = "text"] {
    border:0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2d2d2d;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
  }

  form input[type = "text"]:focus {
    width: 280px;
    border-color: rgb(216, 216, 216);
  }

  form input[type = "submit"]{
    border:0;
    background: none;
    margin: 15px auto;
    text-align: center;
    border: 2px solid rgb(216, 216, 216);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
  }

  form input[type = "submit"]:hover{
    background: rgb(216, 216, 216);
  }

  form input[type = "submit"]:hover {
      color: #111111;
  }
