* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #111111;
}

#title h2 {
    margin-top: 2%;
    margin-bottom: 3%;
    color: #FFF; 
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

#main {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 0 10%;
}

.img {
    margin: 0 auto;
    width: 250px;
    height: 130px;
    margin-bottom: 35px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modalcontent {
    position: relative;
    background-color: #FFF;
    width: 500px;
    max-width: 90%;
    padding: 1em 2em;
    border-radius: 4px;
}

a {
    font-size: 21px;
    font-weight: 600;
}

.modalclose {
    position: absolute;
    top: 0;
    right: 15px;
    color: #585858;
    text-decoration: none;
}

h1 {
    background-color: #FFF;
}

p {
    background-color: #FFF;
}